
* {
    margin: 0;
    padding: 0;
}

.Footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
}
.containerFooter{
    padding: 15px;
    background-color: #1b381a;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

p {
    font-size: 0.6em;
}

h1{
    animation: corflicker 2s alternate-reverse ease-in-out infinite;
    
}
a {
    text-decoration: none;
}

@keyframes corflicker {
    from {
        color: white;
    }
    to {
        color: rgb(99, 252, 68);
    }
}





